* {
  box-sizing: border-box;
  font-family: monospace;
}

h1 {
  text-align: center;
  font-size: 32px;
}

.container {
  width: 100%;
}

section {
  background-color: darkgrey;
  border: 1px solid black;
  margin: 10px;
}

p {
  padding: 10px;
  margin: 0px;
  clear: both;
  font-size: 14px;
}

.title1,
.title2,
.title3 {
  float: right;
  padding: 5px 30px;
  border: 1px solid black;
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
}

.title1 {
    background-color: goldenrod;
}

.title2 {
    background-color: lightpink;
}

.title3 {
    background-color: darksalmon;
}

/***** Desktop view *****/
@media (min-width: 992px) {
  .col-lg-4 {
    float: left;
    width: 33.33%;
  }
}

/***** Tablet view *****/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float: left;
    width: 50%;
  }
  .col-md-12 {
    float: left;
    width: 100%;
  }
}

/***** Mobile view *****/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
  }
}